@use '@angular/material' as mat;

@include mat.core();

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$green-palette,
  ),
));

html {
  @include mat.all-component-themes($dark-theme);
  @include mat.system-level-colors($dark-theme);
  @include mat.system-level-typography($dark-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #0a0a0c;
  color: #fafafa;
}

* {
  box-sizing: border-box;
}
